
body {
    font-family: Arial;
    text-align: center;
    margin-top: 40px;
}
textarea {
    width: 50%;
    height: 120px;
    padding: 10px;
    font-size: 16px;
}
button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 18px;
}
#result {
    margin-top: 20px;
    font-size: 24px;
}
